@mixin clearfix{
    
}

@mixin unstyled {
    margin: 0;
    padding: 0;
    
    li { 
        list-style: none;
    }
}

$viewport-width: false !default;
 
@mixin respond-min($width) {
    @if $viewport-width {
        @if $viewport-width >= $width {
            @content;    
        }
    }
    @else {
        @media screen and (min-width: $width) {
            @content;
        }
    }
}
@mixin respond-max($width) {
    @if $viewport-width {
        @if $viewport-width <= $width {
            @content;    
        }
    }
    @else {
        @media screen and (max-width: $width) {
            @content;
        }
    }
}
