<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>We the People Dashboard</title>
        <meta name="viewport" content="width=device-width">
        <link rel="icon" type="image/x-icon" href="/favicon.ico" >
        
        <link rel="stylesheet" href="/css/styles.dev.css">
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-41380988-1', 'petition.io');
		  ga('send', 'pageview');

		</script>
</head>
    <body>
        <div id="spinner">
            <p>Loading petitions…</p>
            <img src="img/loader.gif">
        </div> <!-- /#spinner -->



        <div class="navbar">
            <div class="navbar-inner">
                <a class="brand" href="/">We the People Dashboard</a>
                <ul class="nav">
                    <li><a href="/">Find a petition</a></li>
                </ul>
            </div>
        </div>
        <div id="main" class="container-fluid" role="main">
        {{{body}}}
        </div> <!-- /.container-fluid -->
        
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
        
        
        <script data-main="/app/config" src="/vendor/jam/require.js"></script>

    </body>
</html>